<div id="payContent">
  <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa-solid fa fa-credit-card"></i> Pay. Payments</div>
          <div class="panel-body">       
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-start">Pay. Order ID</td>
                  <td class="text-start">Status</td>
                  <td class="text-start">Payment method</td>
                  <td class="text-start">Cart amount</td>
                  <td class="text-start">Pay. amount</td>
                  {% if show_refunded_field %}
                    <td class="text-start">{{amount_field_text}}</td>
                  {% endif %}  
                </tr>
              </thead>
              <tbody id="order-products">
                <tr>
                  <td class="text-start">{{ paynl_transaction_id }}</td>
                  <td class="text-start">{{ paynl_status_name }}</td>
                  <td class="text-start">{{ payment_method }}</td>
                  
                  <td class="text-start">{{ cart_currency }} {{ cart_amount }}</td>    
                  <td class="text-start">{{paynl_currency}} {{ paynl_amount }} {% if (paynl_amount_captured != 0) and (paynl_amount_captured != paynl_amount) %}({{paynl_amount_captured}} {{text_order_amount_captured}}){% endif %} </td>
                  {% if show_refunded_field %} 
                    <td class="text-start">{{paynl_currency}} {{ paynl_amount_field }}</td>  
                  {% endif %}              
                </tr>
              </tbody>            
            </table>
            <div id="payFunction">
              {% if show_refund or show_capture %}         
                  <input type="hidden" id="ajaxURL" value="{{ ajax_url }}"></input>
                  <input type="hidden" id="ajaxURLVoid" value="{{ ajax_url_void }}"></input>
                  <input type="hidden" id="payOrderCurrency" value="{{ paynl_currency }}"></input>
                  <input type="hidden" id="confirmMessage" value="{{ text_confirm }}"></input>   
                  <input type="hidden" id="confirmMessageVoid" value="{{ text_confirm_void }}"></input>            
                  <input type="hidden" id="nanErrorMessage" value="{{ text_error_nan }}"></input>
                  <input type="hidden" id="orderVoidAmount" value="{{ paynl_amount_value }}"></input>
                  <label for="payOrderAmount" class="col-form-label" style="display: block;text-align: left;width: auto;">{{text_description}} ({{ paynl_currency }})</label>                 
                  <input type="number" step="0.01" placeholder="0,00" class="form-control" name="payOrderAmount" id="payOrderAmount" style="max-width: calc(100% - 300px); display: inline-block;vertical-align: middle; width: auto;"value="{{ paynl_amount_value }}"/>            
                  <a id="payOrderButton" class="btn btn-primary col-sm-1" target="_BLANK" style="display: inline-block;width: 95px;float: none; text-align: center;">Confirm</a>
                  {% if show_void %}
                    <a id="payOrderButtonVoid" class="btn btn-primary col-sm-1" target="_BLANK" style="display: inline-block;width: 95px;float: none; text-align: center;">VOID</a>
                  {% endif %}   
              {% endif %}          
            </div>
        </div>
      </div>
  </div>
</div>


<div id="modal-pay" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pay.</h5>
      </div>
      <div class="modal-body">
          <p id="payMessage"></p>
          <div id="pay-modal-buttons" style="text-align: end;height: 30px;margin-top: 20px;">
            <a id="paymodalcancel" class="btn btn-secondary col-sm-1" target="_BLANK" style="width: 80px; float: none;">Cancel</a>
            <a id="paymodalconfirm" class="btn btn-primary col-sm-1" target="_BLANK" style="width: 80px; float: none;">Confirm</a>
          </div>          
      </div>
    </div>
  </div>
</div>

<div id="modal-pay-success" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pay.</h5>
      </div>
      <div class="modal-body">
          <p id="paySuccessMessage"></p>
          <div id="pay-modal-buttons" style="text-align: end;height: 30px;margin-top: 20px;">
            <a id="paymodalclose" class="btn btn-primary col-sm-1" target="_BLANK"  style="width: 80px; float: none;">Ok</a>
          </div>          
      </div>
    </div>
  </div>
</div>