{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-pay" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-success alert-dismissible">
                <i class="fa fa-exclamation-circle"></i> {{ success_message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3><br/><br/>
                <p>{{ text_register }}<a href="{{ link_register }}" target="_blank">{{ text_link_register }}</a>{{ text_after_register }} </p>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" class="form-horizontal"
                      enctype="multipart/form-data" id="form-pay">
                    <div class="form-group">
                        <div class="panel-heading" style="border-top: 1px solid #dcdcdc;">
                            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_general_settings }}</h3>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_paynl_general_apitoken">Apitoken</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="payment_paynl_general_apitoken"
                                   value="{{ apitoken }}"/>
                            {% if error_apitoken %}
                                <div class="text-danger">{{ error_apitoken }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_serviceid">ServiceId</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="payment_paynl_general_serviceid"
                                   value="{{ serviceid }}"/>
                            {% if error_apitoken %}
                                <div class="text-danger">{{ error_apitoken }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_testmode">
                            <span data-toggle="tooltip" title="{{ text_testmode_tooltip }}">
                                {{ text_testmode }}
                            </span></label>
                        <div class="col-sm-10">
                            <select name="payment_paynl_general_testmode"
                                    id="payment_paynl_general_testmode" class="form-control">
                                {% if testmode %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_gateway">
                            <span data-toggle="tooltip" title="{{ text_gateway_tooltip }}">
                                {{ text_gateway }}
                            </span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="payment_paynl_general_gateway"
                                   value="{{ gateway }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_prefix">
                            <span data-toggle="tooltip" title="{{ text_prefix_tooltip }}">
                                {{ text_prefix }}
                            </span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="payment_paynl_general_prefix"
                                   value="{{ prefix }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_display_icon">
                            <span data-toggle="tooltip" title="{{ text_display_icon_tooltip }}">
                                {{ text_display_icon }}
                            </span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="payment_paynl_general_display_icon">
                                <option value="" {{ display_icon == '' ? 'selected="selected"': '' }}>{{ text_disabled }}</option>
                                <option value="20x20" {{ display_icon == '20x20' ? 'selected="selected"': '' }}>20 x 20</option>
                                <option value="25x25" {{ display_icon == '25x25' ? 'selected="selected"': '' }}>25 x 25</option>
                                <option value="50x50" {{ display_icon == '50x50' ? 'selected="selected"': '' }}>50 x 50</option>
                                <option value="75x75" {{ display_icon == '75x75' ? 'selected="selected"': '' }}>75 x 75</option>
                                <option value="100x100" {{ display_icon == '100x100' ? 'selected="selected"': '' }}>100 x 100</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="payment_paynl_general_icon_style">
                            <span data-toggle="tooltip" title="{{ text_icon_style_tooltip }}">
                                {{ text_icon_style }}
                            </span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="payment_paynl_general_icon_style">
                                <option value="classic" {{ icon_style == 'classic' ? 'selected="selected"': '' }}>{{ text_classic }}</option>
                                <option value="newest" {{ icon_style == 'newest' ? 'selected="selected"': '' }}>{{ text_newest }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="panel-heading" style="border-top: 1px solid #dcdcdc;  margin-top: 15px;">
                            <h3 class="panel-title"><i class="fa fa-euro"></i> {{ text_method_settings }}</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="{{ payment_method_name }}_status"
                                    id="{{ payment_method_name }}_status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                            {% if error_status %}
                                <div class="text-danger">{{ error_status }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_label">Label</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="{{ payment_method_name }}_label"
                                   value="{{ label }}"/>
                        </div>
                    </div>
                    {% if post_payment == true %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ payment_method_name }}_dob">
                            <span data-toggle="tooltip" title="{{ text_dob_tooltip }}">
                                {{ text_dob }}
                            </span></label>
                            <div class="col-sm-10">
                                <select name="{{ payment_method_name }}_dob" id="{{ payment_method_name }}_dob"
                                        class="form-control">
                                    <option value="0" {% if dob == "0" %} selected="selected" {% endif %}>{{ text_dob_disabled }}</option>
                                    <option value="1" {% if dob == "1" %} selected="selected" {% endif %}>{{ text_dob_enabled }}</option>
                                    <option value="2" {% if dob == "2" %} selected="selected" {% endif %}>{{ text_dob_required }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ payment_method_name }}_coc">
                            <span data-toggle="tooltip" title="{{ text_coc_tooltip }}">
                                {{ text_coc }}
                            </span></label>
                            <div class="col-sm-10">
                                <select name="{{ payment_method_name }}_coc" id="{{ payment_method_name }}_coc"
                                        class="form-control">
                                    <option value="0" {% if coc == "0" %} selected="selected" {% endif %}>{{ text_coc_disabled }}</option>
                                    <option value="1" {% if coc == "1" %} selected="selected" {% endif %}>{{ text_coc_enabled }}</option>
                                    <option value="2" {% if coc == "2" %} selected="selected" {% endif %}>{{ text_coc_required }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ payment_method_name }}_vat">
                            <span data-toggle="tooltip" title="{{ text_vat_tooltip }}">
                                {{ text_vat }}
                            </span></label>
                            <div class="col-sm-10">
                                <select name="{{ payment_method_name }}_vat" id="{{ payment_method_name }}_vat"
                                        class="form-control">
                                    <option value="0" {% if vat == "0" %} selected="selected" {% endif %}>{{ text_vat_disabled }}</option>
                                    <option value="1" {% if vat == "1" %} selected="selected" {% endif %}>{{ text_vat_enabled }}</option>
                                    <option value="2" {% if vat == "2" %} selected="selected" {% endif %}>{{ text_vat_required }}</option>
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="{{ payment_method_name }}_geo_zone_id" id="input-geo-zone"
                                    class="form-control">
                                <option value="0">All Zones</option>
                                {% for geo_zone in geo_zones %}
                                    <option value="{{ geo_zone.geo_zone_id }}"
                                            {% if geo_zone.geo_zone_id == geo_zone_id %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ geo_zone.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_customer_type">
                            <span data-toggle="tooltip" title="{{ text_customer_type_tooltip }}">
                                {{ text_customer_type }}
                            </span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_customer_type">
                                <option value="both" {{ customer_type == 'both' ? 'selected="selected"': '' }}>{{ text_both }}</option>
                                <option value="private" {{ customer_type == 'private' ? 'selected="selected"': '' }}>{{ text_private }}</option>
                                <option value="business" {{ customer_type == 'business' ? 'selected="selected"': '' }}>{{ text_business }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_confirm_on_start">
                            <span data-toggle="tooltip" title="{{ text_confirm_start_tooltip }}">
                                {{ text_confirm_start }}
                            </span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_confirm_on_start">
                                <option value="1" {{ confirm_on_start == 1 ? 'selected="selected"': '' }}>{{ text_enabled }}</option>
                                <option value="0" {{ confirm_on_start == 0 ? 'selected="selected"': '' }}>{{ text_disabled }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_send_status_updates"><span data-toggle="tooltip"
                                                                                         title="{{ text_send_statusupdates_tooltip }}">{{ text_send_statusupdates }}</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_send_status_updates">
                                <option value="1" {{ send_status_updates == 1?'selected="selected"':'' }}>{{ text_enabled }}</option>
                                <option value="0" {{ send_status_updates == 0?'selected="selected"':'' }}>{{ text_disabled }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_pending_status"><span data-toggle="tooltip"
                                                                                    title="{{ text_status_pending_tooltip }}">{{ text_status_pending }}</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_pending_status">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == pending_status?'selected="selected"':'' }}>
                                        {{ order_status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_completed_status"><span data-toggle="tooltip"
                                                                                      title="{{ text_status_complete_tooltip }}">{{ text_status_complete }}</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_completed_status">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == completed_status?'selected="selected"':'' }}>
                                        {{ order_status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ payment_method_name }}_canceled_status"><span
                                    data-toggle="tooltip"
                                    title="{{ text_status_canceled_tooltip }}">{{ text_status_canceled }}</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="{{ payment_method_name }}_canceled_status">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == canceled_status?'selected="selected"':'' }}>
                                        {{ order_status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ payment_method_name }}_total">{{ text_minimum_amount }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="{{ payment_method_name }}_total"
                                   value="{{ total }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ payment_method_name }}_totalmax">{{ text_maximum_amount }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="{{ payment_method_name }}_totalmax"
                                   value="{{ totalmax }}"/>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_sort_order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   name="{{ payment_method_name }}_sort_order"
                                   value="{{ sort_order }}"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="{{ payment_method_name }}_instructions">{{ text_payment_instructions }}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="{{ payment_method_name }}_instructions"
                                      placeholder="{{ text_payment_instructions_tooltip }}"
                                      cols="80" rows="10">{{ instructions }}</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}